
#container {
    display: flex;
    height: 960px;
    flex-direction: column;
    align-items: center;
}

.square {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.row {
    width: 960px;
}
.row,
.button {
    flex: 1;
    display: flex;
    justify-content: center;
}

button {
    font-size: 36px;
    margin: 20px 0px;
}

.hover {
    background-color: red;
}