
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.row,
.button {
    display: flex;
    justify-content: center;
}

button {
    font-size: 36px;
    margin: 20px 0px;
}